extends layout

block body
	div.container
		div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li 
										a(href='/admin/') Websites
									li
										a(href='/admin/wines/') Wines	
									li
										a(href='/admin/elasticsearch/') Elastic Search
									li.active
										a(href='/admin/clics/') Outbound		
		div.row
			div.span12
				table.table.table-bordered
					thead
						tr
							th Date
							th Query
							th Qty
							th Min Size
							th Max Size
							th Min Price
							th Max Price
							th Color
							th Wine
					tbdody
						- each clic in clics
							tr
								td	
									=clic.createdAt
								td
									=clic.query
								td
									=clic.qty
								td
									=clic.minSize
								td
									=clic.maxSize
								td
									=clic.minPrice
								td
									=clic.maxPrice
								td
									=clic.color
								td
									=clic.wine