extends layout

block nav
	-var selected = 'Clics';
	
block header
	#nav-bg
									
block content
	.container#clics
		table.table.table-bordered.admin-table
					thead
						tr
							th Date
							th Query
							th Qty
							th Min Size
							th Max Size
							th Min Price
							th Max Price
							th Color
							th Wine
					tbdody
						- each clic in clics
							tr
								td	
									=clic.createdAt
								td
									=clic.query
								td
									=clic.qty
								td
									=clic.minSize
								td
									=clic.maxSize
								td
									=clic.minPrice
								td
									=clic.maxPrice
								td
									=clic.color
								td
									=clic.wine