extends layout

block body
	div.container
		div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li 
										a(href='/admin/') Websites
									li
										a(href='/admin/wines/') Wines
									li
										a(href='/admin/producers/') Producers		
									li.active
										a(href='/admin/elasticsearch/') Elastic Search
									li
										a(href='/admin/clics/') Outbound		
		div.row
			div.span12
				h3	#{status.cluster_name}
				ul
					each node in status.nodes
						li= node.name
						li= node.indices.docs.count

				a.btn.btn-mini.btn-danger.mlm(href='/admin/elasticsearch/reindex/')
					i(style='font-size:11px').fui-trash
					|	Reindex
