extends layout

block nav
	-var selected = 'Elasticsearch';
	
block header
	header
		.container
			a.btn.btn-mini.btn-danger.mlm(href='/admin/elasticsearch/reindex/')
				i(style='font-size:11px').fui-trash
				|	Reindex
	#nav-bg
									
block content
	.container		
		h3	#{status.cluster_name}
		ul
			each node in status.nodes
				li= node.name
				li= node.indices.docs.count
