extends layout

block nav
	-var selected = 'Elasticsearch';
	
block header
	header.admin
		.container
			a.btn.btn-mini.btn-danger.mlm(href='/admin/elasticsearch/reindexReference/')
				i(style='font-size:11px').fui-trash
				|	Reindex Wines Reference
			a.btn.btn-mini.btn-danger.mlm(href='/admin/elasticsearch/reindexWine/')
				i(style='font-size:11px').fui-trash
				|	Reindex Wines 	
			a.btn.btn-mini.btn-danger.mlm(href='/admin/elasticsearch/reindexProducer/')
				i(style='font-size:11px').fui-trash
				|	Reindex Producers 		
	#nav-bg
									
block content
	.container		
		h3	#{status.cluster_name}
		ul
			each node in status.nodes
				li= node.name
				li= node.indices.docs.count
