extends layout

block body
	div.container
		div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li 
										a(href='/admin/') Websites
									li
										a(href='/admin/wines/') Wines
									li.active
										a(href='/admin/producers/') Producers		
									li
										a(href='/admin/elasticsearch/') Elastic Search
									li
										a(href='/admin/clics/') Outbound		
		div.row
			div.span12
				!= pagination
		div.row
			div.span12
				table.table.table-bordered
					thead
						tr
							th Id
							th Name
							th Image
					tbdody
						- each producer in producers
							tr.info
								td
									=producer.id
								td
									if (producer.website)
										a(href=producer.website, target='_blank') #{producer.name}
									else
										=producer.name
								td
									img(src='#{producer.image}')
								if (producer.wines)
							tr
								td(colspan='3')
									table
										- each wineRef in producer.winesRef
											tr
												td(width='240px')
													=wineRef.name
												td
													a(href='/admin/ajax/removeWineReference/'+wineRef.id) 
														i.fui-cross
												if (wineRef.wines)
													td
														table.table.table-bordered
															- each wine in wineRef.wines
																tr
																	td
																		a(href='/admin/wine/'+wine.id)
																			=wine.name
																	td
																		=wine.wine
																	td
																		=wine.price
																		&nbsp;&euro;	
																	td
																		img.wine-image(src='#{wine.photo}')
														
		div.row
			div.span12
				!= pagination														