extends layout

block nav
	-var selected = 'Producers';
	
block header
	header.admin
		.container
			.row.col-md-9
				!= pagination
			.row
				.col-md-3
					.form-group
						.input-group.input-group-hg.input-group-rounded
							span.input-group-btn
								button.btn(type='submit')
									span.fui-search
							input#producerRef.form-control(type='text', placeholder='Search')
		
	#nav-bg
									
block content
	.container
		.row
			col-md-12
				table.table.table-bordered.admin-table
					thead
						tr
							th Id
							th Name
							th Image
					tbody
						- each producer in producers
							tr.info
								td
									=producer.id
								td
									if (producer.website)
										a(href=producer.website, target='_blank') #{producer.name}
									else
										=producer.name
								td
									img(src='#{producer.image}')
								if (producer.wines)
							tr
								td(colspan='3')
									table
										- each wineRef in producer.winesRef
											tr
												td(width='240px')
													span.label.label-inverse.label-large
														=wineRef.name
												td
													a(href='/admin/ajax/removeWineReference/'+wineRef.id) 
														i.fui-cross
												if (wineRef.wines)
													td
														table.table.table-bordered
															- each wine in wineRef.wines
																tr
																	td
																		a(href='/admin/wine/'+wine.id)
																			=wine.name
																	td
																		=wine.wine
																	td
																		span
																			=wine.price
																			|&nbsp;&euro;
																	td
																		img.wine-image(src='#{wine.photo}')
														
		.row
			.col-md-12
				!= pagination														