extends layout

block nav
	-var selected = 'Wines';
	
block header
	header.admin
		.container
			!= pagination
	#nav-bg
									
block content
	.container
		table.table.table-bordered.admin-table
			thead
				tr
					th Id
					th Website
					th Name
					th Producer
					th Wine
					th Size
					th Options
					th Color
					th Image
					th Active
					th Reference
			tbody
				- each wine in wines
					tr(class="#{wine.reference>0 ? '' : 'info'}")
						td
							=wine.id
						td
							a(href=wine.url, target='_blank') #{wine.website}
						td
							=wine.name
						td
							=wine.producer
						td
							=wine.wine
						td
							=wine.sizeText
						td
							=wine.options
						td
							=wine.color
						td
							img(src='#{wine.photo}')
						td
							if wine.active
								span.fui-check-inverted
						td
							a(href='/admin/wine/'+wine.id) Edit
		!= pagination