extends layout

block body
	div.container
		div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li.active 
										a Refresh
									li
										a Spider
									li
										a Users
		div.row.searchbar
			div.span12
				table#results.table.table-striped
					tbody
						tr
							th Website
							th Last Spider
							th Last Refresh
							th Actions
						- each website in websites
							tr
								td
									= website.name
								td
									= website.lastRunEnd	
								td
									
								td
									a(href=website.refresh) Refresh
									br
									a(href=website.crawl) Crawl	
				
						
	script(src='/js/ui/jquery-1.8.3.min.js')
	script(src='/js/ui/jquery-ui-1.10.3.custom.min.js')
	script(src='/js/ui/jquery.ui.touch-punch.min.js')
	script(src='/js/ui/bootstrap.min.js')
	script(src='/js/ui/bootstrap-select.js')
	script(src='/js/ui/bootstrap-switch.js')
	script(src='/js/ui/flatui-checkbox.js')
	script(src='/js/ui/flatui-radio.js')
	script(src='/js/ui/jquery.tagsinput.js')
	script(src='/js/ui/jquery.placeholder.js')
	script(src='/js/ui/jquery.stacktable.js')
	script(src='/js/app.js')

