extends layout

block menu
	ul.nav.navbar-inverse
		li
			a(href="/") Search
		li.active 
			a(href="/bigdata/") Big Data
		li
			a Blog



block body
	div.container
		div.row
			div.span12#chart1
				ul.nav.nav-pills
					li.active
						a.mostFrequent Marques les plus répresentées
					li
						a.mostExpensives Prix les plus élevés
				div.svg
			
block append scripts
	script(src='/js/d3/d3.v3.min.js')
	script(src='/js/bigdata.js')