.bottom-menu.bottom-menu-large.bottom-menu-inverse.hidden-xs
	.container
		.row
			.col-md-4.navbar-brand
				a.fui-star-2(href='/')
					h5.title &nbsp;La Cote des Bulles
					
				p Trouvez le champagne le moins cher avec notre comparateur de prix, indépendant et impartial.
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/maison/pol%20roger', title='Comparez les prix du Champagne Pol Roger') Pol Roger
					li
						a(href='/maison/krug', title='Comparez les prix du Champagne Krug') Krug
					li
						a(href='/maison/veuve%20clicquot', title='Comparez les prix du Champagne Veuve Clicquot') Veuve Clicquot
					li
						a(href='/maison/roederer', title='Comparez les prix du Champagne Roederer') Roederer
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/maison/drappier', title='Comparez les prix du Champagne Drappier') Drappier
					li
						a(href='/maison/ruinart', title='Comparez les prix du Champagne Ruinart') Ruinart
					li
						a(href='/maison/deutz', title='Comparez les prix du Champagne Deutz') Deutz
					li
						a(href='/maison/pommery', title='Comparez les prix du Champagne Pommery') Pommery
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/maison/jacquesson', title='Comparez les prix du Champagne Jacquesson') Jacquesson
					li
						a(href='/maison/diebolt', title='Comparez les prix du Champagne Diebolt Vallois') Diebolt Vallois
					li
						a(href='/maison/giraud', title='Comparez les prix du Champagne Henri Giraud') Henri Giraud
					li
						a(href='/maison/geoffroy', title='Comparez les prix du Champagne René Geoffroy') René Geoffroy
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/maison/boulard', title='Comparez les prix du Champagne Francis Boulard') Francis Boulard
					li
						a(href='/maison/janisson', title='Comparez les prix du Champagne Janisson et Fils') Janisson & Fils
					li
						a(href='/maison/dehours', title='Comparez les prix du Champagne Dehours') Dehours
					li
						a(href='/maison/agrapart', title='Comparez les prix du Champagne Agrapart') Agrapart