.bottom-menu.bottom-menu-large.bottom-menu-inverse.hidden-xs
	.container
		.row
			.col-md-4.navbar-brand
				a.fui-star-2(href='/')
					h5.title &nbsp;La Cote des Bulles
					
				p Trouvez le champagne le moins cher avec notre comparateur de prix, indépendant et impartial.
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/maison/pol%20roger', title='Comparez les prix du Champagne Pol Roger') Pol Roger
					li
						a(href='/maison/krug', title='Trouvez du Champagne Krug le moins cher') Krug
					li
						a(href='/maison/veuve%20clicquot', title='Le Champagne Veuve Clicquot pas cher') Veuve Clicquot
					li
						a(href='/maison/roederer', title='Acheter du Cristal Roeder au plus bas prix') Roederer
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/maison/drappier', title='Le Champagne Drappier pas cher') Drappier
					li
						a(href='/maison/ruinart', title='Trouvez du Champagne Ruinart au meilleur prix') Ruinart
					li
						a(href='/maison/deutz', title='Acheter du Champagne Deutz au plus bas prix') Deutz
					li
						a(href='/maison/pommery', title='Le Champagne Pommery, comparez les prix') Pommery
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/maison/jacquesson', title='Acheter du Champagne Jacquesson en ligne') Jacquesson
					li
						a(href='/maison/diebolt', title='Trouvez et comparez les prix du Champagne Diebolt Vallois') Diebolt Vallois
					li
						a(href='/maison/giraud', title='Le Champagne Henri Giraud au meilleur prix') Henri Giraud
					li
						a(href='/maison/geoffroy', title='Les prix du Champagne René Geoffroy') René Geoffroy
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/maison/boulard', title='Comparez les prix du Champagne Francis Boulard') Francis Boulard
					li
						a(href='/maison/janisson', title='Comparez les prix du Champagne Janisson et Fils') Janisson & Fils
					li
						a(href='/maison/dehours', title='Comparez les prix du Champagne Dehours') Dehours
					li
						a(href='/maison/agrapart', title='Comparez les prix du Champagne Agrapart') Agrapart