.bottom-menu.bottom-menu-large.bottom-menu-inverse.hidden-xs
	.container
		.row
			.col-md-4.navbar-brand
				a.fui-star-2(href='/')
					h5.title &nbsp;La Cote des Bulles
					
				p Trouvez le champagne le moins cher avec notre comparateur de prix, indépendant et impartial.
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/?q=pol%20roger', title='Comparez les prix du Champagne Pol Roger') Pol Roger
					li
						a(href='/?q=krug', title='Comparez les prix du Champagne Krug') Krug
					li
						a(href='/?q=veuve%20clicquot', title='Comparez les prix du Champagne Veuve Clicquot') Veuve Clicquot
					li
						a(href='/?q=roederer', title='Comparez les prix du Champagne Roederer') Roederer
			.col-md-2
				h5.title Les Grandes Maisons
				ul.bottom-links
					li
						a(href='/?q=drappier', title='Comparez les prix du Champagne Drappier') Drappier
					li
						a(href='/?q=ruinart', title='Comparez les prix du Champagne Ruinart') Ruinart
					li
						a(href='/?q=deutz', title='Comparez les prix du Champagne Deutz') Deutz
					li
						a(href='/?q=pommery', title='Comparez les prix du Champagne Pommery') Pommery
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/?q=jacquesson', title='Comparez les prix du Champagne Jacquesson') Jacquesson
					li
						a(href='/?q=diebolt', title='Comparez les prix du Champagne Diebolt Vallois') Diebolt Vallois
					li
						a(href='/?q=giraud', title='Comparez les prix du Champagne Henri Giraud') Henri Giraud
					li
						a(href='/?q=geoffroy', title='Comparez les prix du Champagne René Geoffroy') René Geoffroy
			.col-md-2
				h5.title Les Vignerons
				ul.bottom-links
					li
						a(href='/?q=boulard', title='Comparez les prix du Champagne Francis Boulard') Francis Boulard
					li
						a(href='/?q=janisson', title='Comparez les prix du Champagne Janisson et Fils') Janisson & Fils
					li
						a(href='/?q=dehours', title='Comparez les prix du Champagne Dehours') Dehours
					li
						a(href='/?q=agrapart', title='Comparez les prix du Champagne Agrapart') Agrapart