extends layout

block nav
	-var selected = 'Search';

block header
	header#searchbox
		.container			
			.row
				.col-md-3.searchitem.search-fulltext
					input#text.form-control.input-hg(type='text', placeholder='marque, cuvée', autocomplete='off')
				.col-md-3.hidden-xs
					.searchitem 
						#price-range.slider
				.col-md-3.hidden-xs
					.searchitem 	
						fieldset.slider
							select#minimumSize(name='minimumSize')
								option(value='0.5') Demi-bouteille
								option(value='1', selected='selected') Bouteille
								option(value='2') Magnum
								option(value='400') Jeroboam et plus
							select#maximumSize(name='maximumSize')
								option(value='0.5') Demi-bouteille
								option(value='1') Bouteille
								option(value='2') Magnum
								option(value='400', selected='selected') Jeroboam et plus		
				.col-md-3.hidden-xs
					.searchitem 
							label.radio#whiteAndPink
								input(type='radio', name='optionsRadios', value='whiteAndPink', data-toggle='radio', checked='')
								| Blancs et rosés
							label.radio#white
								input(type='radio', name='optionsRadios', value='white', data-toggle='radio')
								| Uniquement blancs
							label.radio#pink
								input(type='radio', name='optionsRadios', value='pink', data-toggle='radio')
								| Uniquement rosés
				//
					label Nombre de bouteilles
					.control-group
						input#qty.spinner.form-control(type="text",value="6")					
	#nav-bg		
	
block content
	.container					
		.row#results-container
			#results
							
block append scripts
	script(src='/js/search.js')