extends layout
block menu
	ul.nav
		li.active 
			a(href="/") Search
		li
			a(href="/bigdata/") Big Data
		li
			a(href="/blog/") Blog

block body
	div.container
		div.row.searchbar
			div.span2
				h4 Je cherche
			div.span2
				.control-group
					input#qty.spinner(type="text",value="6")
			div.span2
				h4#bottles bouteilles de
			div.span6
				form.form-search#search-box
					div.input-append
						input#search-query.search-query.search.span5(type='text', placeholder='Recherche par producteur ou cuvée', autocomplete='off')
						button.btn(type='submit')
							span.fui-search
					
	div.container				
		.row
			.span3
				h5.options-name Contenance
				fieldset.slider
					select#minimumSize(name='minimumSize')
						option(value='0.5') Demi-bouteille
						option(value='1', selected='selected') Bouteille
						option(value='2') Magnum
						option(value='400') Jeroboam et plus
					select#maximumSize(name='maximumSize')
						option(value='0.5') Demi-bouteille
						option(value='1') Bouteille
						option(value='2') Magnum
						option(value='400', selected='selected') Jeroboam et plus

				h5.options-name Prix
				#price-range.slider

				h5.options-name Couleur
				label.radio.span3#whiteAndPink
					input(type='radio', name='optionsRadios', value='whiteAndPink', data-toggle='radio', checked='')
					| Blancs et rosés
				label.radio.span3#white
					input(type='radio', name='optionsRadios', value='white', data-toggle='radio')
					| Uniquement blancs
				label.radio.span3#pink
					input(type='radio', name='optionsRadios', value='pink', data-toggle='radio')
					| Uniquement rosés

			div#results-container.span9
				div#results

			div#spinner		
			
block append scripts
	script(src='/js/search.js')