extends layout

block body
	div(ng-controller='AppCtrl').container
		div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li.active 
										a Search
									li
										a Stats
									li
										a About us
		div.row.searchbar
			div.span12
				form.form-search
					div.input-prepend
						button.btn.btn-huge(type='submit')
							span.fui-search
						input#search-query-2.huge.search-query.search-query-rounded(type='search', placeholder='Search champagne',style='width:700px;', autocomplete='off' )
		div#checkboxes.row
			div.span3
					label.checkbox.primary.checked(for='bouteille')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#bouteille(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Bouteille
					label.checkbox.primary(for='demibouteille')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#demibouteille(type='checkbox', checked='', value='', data-toggle='checkbox')
						| Demi-bouteille
					label.checkbox.primary.checked(for='magnum')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#magnum(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Magnum
					label.checkbox.primary.checked(for='jeroboam')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#jeroboam(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Jéroboam
			div.span3
					label.checkbox.primary.checked(for='mathusalem')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#mathusalem(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| mathusalem
					label.checkbox.primary.checked(for='salmanazar')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#salmanazar(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Salmanazar
					label.checkbox.primary.checked(for='balthazar')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#balthazar(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Balthazar
					label.checkbox.primary.checked(for='nabuchodonosor')
						span.icons
							span.first-icon.fui-checkbox-unchecked
							span.second-icon.fui-checkbox-checked
						input#nabuchodonosor(type='checkbox', checked='checked', value='', data-toggle='checkbox')
						| Nabuchodonosor

		div.row
			div.span12
				table#results
		
	script(src='/js/ui/jquery-1.8.3.min.js')
	script(src='/js/ui/jquery-ui-1.10.3.custom.min.js')
	script(src='/js/ui/jquery.ui.touch-punch.min.js')
	script(src='/js/ui/bootstrap.min.js')
	script(src='/js/ui/bootstrap-select.js')
	script(src='/js/ui/bootstrap-switch.js')
	script(src='/js/ui/flatui-checkbox.js')
	script(src='/js/ui/flatui-radio.js')
	script(src='/js/ui/jquery.tagsinput.js')
	script(src='/js/ui/jquery.placeholder.js')
	script(src='/js/ui/jquery.stacktable.js')
	script(src='/js/app.js')

