extends layout
block menu
	ul.nav
		li.active 
			a(href="/") Search
		li
			a(href="/bigdata/") Big Data
		li
			a Journal

block body
	div.container
		div.row.searchbar
			div.span2
				h4 Je cherche
			div.span2
				.control-group
					input#qty.spinner(type="text",value="6")
			div.span2
				h4#bottles bouteilles de
			div.span6
				form.form-search#search-box
					div.input-append
						input#search-query.search-query.search.span5(type='text', placeholder='Deutz', autocomplete='off')
						button.btn(type='submit')
							span.fui-search
					
	div.container
		div#optionsOn.row
			.offset4.span4
				span#more.fui-plus-inverted
					&nbsp;Filtrer par	prix, couleur, contenance						
		div#refine-container.row
			div#refine.span12
				.row
					h4.span2 Contenance
					fieldset.span9.slider
						select#minimumSize(name='minimumSize')
							option(value='0.5') Demi-bouteille
							option(value='1', selected='selected') Bouteille
							option(value='2') Magnum
							option(value='4') Jeroboam
							option(value='8') Mathusalem
							option(value='12') Salmanazar
							option(value='16') Balthazar
							option(value='20') Nabuchodonosor
							option(value='24') Salomon
							option(value='36') Primat
						select#maximumSize(name='maximumSize')
							option(value='0.5') Demi-bouteille
							option(value='1') Bouteille
							option(value='2') Magnum
							option(value='4') Jeroboam
							option(value='8') Mathusalem
							option(value='12') Salmanazar
							option(value='16') Balthazar
							option(value='20', selected='selected') Nabuchodonosor
							option(value='24') Salomon
							option(value='36') Primat
						.span1
				.row
					h4.span2 Prix	
					#price-range.span9.slider
					.span1
				.row
					h4.span2 Couleur
					label.radio.span2#whiteAndPink
						input(type='radio', name='optionsRadios', value='whiteAndPink', data-toggle='radio',	 checked='')
						| Blancs et rosés
					label.radio.span2#white
						input(type='radio', name='optionsRadios', value='white', data-toggle='radio')
						| Uniquement blancs
					label.radio.span2#pink
						input(type='radio', name='optionsRadios', value='pink', data-toggle='radio')
						| Uniquement rosés

		div#results-container.row
			div#spinner		
			div#results.span12
			
block append scripts
	script(src='/js/search.js')