extends layout

block body
	div.container
		//div.row
			div.span12
				div.navbar
					div.navbar-inner
						div.container
							a.brand Champagne
							div#nav-collapse01.nav-collapse.collapse
								ul.nav
									li.active 
										a Search
									li
										a Stats
									li
										a About us
		div.row.searchbar
			div.span2
			div.span8
				form.form-search#search-box
					div.input-prepend
						button.btn.btn-huge(type='submit')
							span.fui-search
						input#search-query.huge.search-query.search-query-rounded.span6(type='search', placeholder='Search champagne', autocomplete='off' )
			div.span2
		div.row.optionsbar
			.span12
				fieldset
					select#minimumSize(name='minimumSize')
						option(value='0.5') Demi-bouteille
						option(value='1', selected='selected') Bouteille
						option(value='2') Magnum
						option(value='4') Jeroboam
						option(value='8') Mathusalem
						option(value='12') Salmanazar
						option(value='16') Balthazar
						option(value='20') Nabuchodonosor
						option(value='24') Salomon
						option(value='36') Primat
					select#maximumSize(name='maximumSize')
						option(value='0.5') Demi-bouteille
						option(value='1') Bouteille
						option(value='2') Magnum
						option(value='4') Jeroboam
						option(value='8') Mathusalem
						option(value='12') Salmanazar
						option(value='16') Balthazar
						option(value='20', selected='selected') Nabuchodonosor
						option(value='24') Salomon
						option(value='36') Primat
		div#results.row
		
	script(src='/js/ui/jquery-1.8.3.min.js')
	script(src='/js/ui/jquery-ui-1.10.3.custom.min.js')
	script(src='/js/ui/jquery.ui.touch-punch.min.js')
	script(src='/js/ui/jquery.ui.selecttoslider.js')
	
	script(src='/js/ui/bootstrap.min.js')
	script(src='/js/ui/bootstrap-select.js')
	script(src='/js/ui/bootstrap-switch.js')
	script(src='/js/ui/flatui-checkbox.js')
	script(src='/js/ui/flatui-radio.js')
	script(src='/js/ui/jquery.tagsinput.js')
	script(src='/js/ui/jquery.placeholder.js')
	script(src='/js/ui/jquery.stacktable.js')
	script(src='/js/app.js')

