!!!
html
  head
    meta(charset='utf8')
    base(href='/')
    title Bubbles

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')

    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/ui.slider.extras.css')
    link(rel='stylesheet', href='/css/app.css')
    
  body
    block body