extends layout
block nav
	-var selected = 'Search';
	
block content
	#nav-bg		

	.container#login
			.alert
				form.form-inline(method='post',action='login', role='form')
					.form-group
						label.sr-only(for='login') Login
						input.form-control(name='login', type='text', placeholder='Login', autocomplete='off')
					.form-group
						label.sr-only(for='password') Password
						input.form-control(name='password', type='password')
					button.btn.btn-default(type='submit') Login