/* app css stylesheet */

.euro {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.searchbar{
	margin-top:7px
}

#results em {
	font-style: normal;
	background-color: #dfdfdf;
	padding-left: 4px;
	padding-right: 4px;
}

div.actions a{
	margin: 3px;
}

table.smallTable {
	font-size: 10px;
	border: 2px solid #eef0f0;
}

.wines {
	margin: 0;	
	list-style: none;
}

.wines li {
	margin-bottom: 10px;
	min-height: 400px;
	position: relative;

}

.wine-image {
	height: 180px;
	max-height: 180px;
}

.caption {
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	margin-bottom: 1.25em;
	padding: 1.25em;
	background: #f2f2f2;
}

.caption p{
	line-height: 1;	
}

.wine-name {
	font-size: 1.125em;
	font-weight: bold;
}

.wine-producer {
	font-size: 1.125em;
}

.wine-size, .wine-options {
	font-size: 1em;
}


.wine-total-price {
  position: absolute;
  top: 28%;
  right: -14px;
  width: 60px;
  height: 60px;
  line-height: 57px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  background: #e54930;
  border: 1px solid;
  border-color: #b33323 #ab3123 #982b1f;
  border-radius: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*
  background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
  background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);*/
}
.wine-total-price:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 2px solid #f5f8fb;
  border-radius: 60px;
  /*
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);*/
}

span.brut {
	font-size: 8px;
	position: relative;
	top: -9px;
	left: 10px;
}

.superheader {
}

#refine {
}

#refine h4 {
	font-size: 18px;
}

#refine .row {
	margin-top:30px;
}

#refine .slider {
	margin-top: 6px;
}

#slider_tooltip {
	margin-top: 20px;
	width: 40px;
}

a.ui-slider-handle span.Slider_Value{
    position: absolute;
    top: 0px;
    left: -2px;
    display: none;
}

a.ui-slider-handle:hover span.Slider_Value{
    display: block;
}   

h5.options-name {
	display: block;
	font-size: 18px;
	
}

h5.options-name:not(:first-child) {
    margin-top: 70px;
}

#spinner {
	margin-top: 50px;
}

.status {
	margin-top: 5px;
}


.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

/* blog */

section {
    display: block;
    position: relative;
    background: #fff;
    padding: 80px 50px;
    width: auto;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2),inset 0 -1px 3px #f6f4ee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section .date {
    position: absolute;
    top: 80px;
    right: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: #d7d7d7;
    text-transform: uppercase;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

section .date:hover {
    color: #f64;
}

section .title {
    margin-bottom: 30px;
    max-width: 80%;
}

section .title small a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

section .title small a:hover {
    text-decoration: none;
    color: #f64;
}

section .post_intro {
    color: #aaa;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

section button {
    margin: 0;
}

section.quote {
    background: #f6f4ee;
    padding: 80px 80px 30px 200px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

section.quote p {
    font-size: 24px;
    line-height: 48px;
    text-align: right;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

section.quote .author {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: #bbb;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

section.quote:hover {
    background: #f64;
    box-shadow: 0 1px 2px rgba(0,0,0,.2),inset 0 -1px 3px #d83e1c;
}

section.quote:hover p {
    color: #fff;
}

section.quote:hover .author {
    color: #c93c1d;
}

section .hashtags {
    font-size: 14px;
    margin: 38px 0 0 0;
    position: absolute;
    right: -3px;
    top: 0;
    width: 103px;
}

section .hashtags:hover {
    -moz-box-shadow: 0 0 5px 2px #ccc;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}

section .hashtags .hashtag:first-child {
    opacity: 1;
    height: 26px;
    background-color: #f5f5f5;
}

section .hashtags:hover .hashtag {
    opacity: 1;
    height: 26px;
}

section .hashtags .hashtag {
    float: right;
    clear: both;
    height: 0;
    width: 80px;
    line-height: 26px;
    font-weight: bold;
    word-wrap: normal;
    padding: 4px 10px;
    border-right: 3px solid #f64;
    background: #fff;
    opacity: 0;
    text-align: right;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

section .hashtags .hashtag:hover {
    background: #aaa28c;
    color: #fff;
}
