/* app css stylesheet */

.euro {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.searchbar-fixed-top {
    position:fixed;
}

table#results em {
	font-style: normal;
	background-color: #dfdfdf;
	padding-left: 4px;
	padding-right: 4px;
}