extends ../layout

block menu
	ul.nav.navbar-inverse
		li
			a(href="/") Search
		li 
			a(href="/bigdata/") Big Data
		li.active
			a(href="/blog/") Blog

block body
	div.container
		div.row
			div.span12
				h3
					a(href=categoryUrl(category)) posts in category * #{category}
					- each post in posts
						include includes/postSnippet
