extends ../layout

block menu
	-var selected = 'Blog';
	
block header
	#nav-bg
	
block content
	.container#blog
		.row
			section
				h2
					a(href=tagUrl(tag)) Les posts taggu&eacute;s avec #{tag}
		.row
			- each post in posts
				include includes/postSnippet
